<!DOCTYPE html>
<html>
<head>
  <title>Locations</title>
  <%= stylesheet_link_tag    "naturesoft/locations/application", media: "all" %>
  <%= javascript_include_tag "naturesoft/locations/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
