<li>
  <a href="#"><i class="fa fa-location-arrow"></i> <span><%= t(:location) %></span></a>
  <ul>
      <li>
        <%= link_to 'Locations', naturesoft_locations.backend_locations_path %>
      </li>
  </ul>
</li>